<div class="container">
  <div class="row">
    <div class="view-user">
    <legend>View User</legend>
    <table class="table table-striped table-hover">
      <tbody>
        <tr><td><img src="assets/images/user-profile/user-profile.png" width="200" height="200"></td></tr>
        <tr><td><strong>ID</strong></td> <td>1</td></tr>
        <tr><td><strong>Name</strong></td> <td>Prashant</td></tr>
        <tr><td><strong>Email</strong></td> <td>pra@gmail.com</td></tr>
        <tr><td><strong>Hobby</strong></td> <td>cricket, dance</td></tr>
        <tr><td><strong>Gender</strong></td> <td>male</td></tr>
        <tr><td><strong>State</strong></td> <td>MP</td></tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
