<div class="container">
  <div class="row">
    <legend>USER DETAIL</legend>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>S.NO.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Hobby</th>
          <th>Gender</th>
          <th>State</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Prashant</td>
          <td>pra@gmail.com</td>
          <td>cricket</td>
          <td>male</td>
          <td>MP</td>
          <td><a routerLink="/edit-user">Edit</a> | <a>Delete</a> | <a routerLink="/view-user">View</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Prashant</td>
          <td>pra@gmail.com</td>
          <td>cricket</td>
          <td>male</td>
          <td>MP</td>
          <td><a routerLink="/edit-user">Edit</a> | <a>Delete</a> | <a routerLink="/view-user">View</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Prashant</td>
          <td>pra@gmail.com</td>
          <td>cricket</td>
          <td>male</td>
          <td>MP</td>
          <td><a routerLink="/edit-user">Edit</a> | <a>Delete</a> | <a routerLink="/view-user">View</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Prashant</td>
          <td>pra@gmail.com</td>
          <td>cricket</td>
          <td>male</td>
          <td>MP</td>
          <td><a routerLink="/edit-user">Edit</a> | <a>Delete</a> | <a routerLink="/view-user">View</a></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
